.example-spacer {
    flex: 1 1 auto;
  }

  a{
    color:black
  }
  span{
    color: black
  }
  mat-toolbar{
    background: linear-gradient(to right,rgba(216, 139, 72, 0), rgb(99, 63, 13));
    
  }
  h3{
    color: whitesmoke;
  }