<mat-toolbar>
    <a
      routerLink="/"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu_book</mat-icon>
    </a>
    <span><b>Osmose24x7</b></span>
    <span class="example-spacer"></span>
    <a
      *ngIf="!isLoggedIn"
      [routerLink]="'/login'"
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
    <h3>Login</h3>
    </a>
  
    <a
      *ngIf="!isLoggedIn"
      [routerLink]="'/signup'"
      mat-icon-button
      class="example-icon favorite-icon mr20 ml20"
      aria-label="Example icon-button with heart icon"
    >
    <h3>Register</h3>
    </a>
  
    <a
      (click)="logout()"
      *ngIf="isLoggedIn"
      mat-icon-button
      class="example-icon favorite-icon mr20 ml20"
      aria-label="Example icon-button with heart icon"
    >
      <h3>Logout</h3>
    </a>
  
    <button
      *ngIf="isLoggedIn && userRole=='ADMIN'"
      class="example-icon favorite-icon mr20 mt20"
      mat-button
      routerLink="/admin/profile"
      aria-label="Example icon-button with heart icon"
    >
      <h3>&nbsp;{{ login.getUser().username }}</h3>
      <!-- {{user.username}} -->
    </button>

    <button
    *ngIf="isLoggedIn && userRole=='NORMAL'"
    class="example-icon favorite-icon mr20 mt20"
    mat-button
    routerLink="/user-dashboard/profile"
    aria-label="Example icon-button with heart icon"
  >
    <h3>&nbsp;{{ login.getUser().username }}</h3>
  </button>

  </mat-toolbar>
  