<mat-card>
    <h2>&nbsp;Update Quiz</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <form *ngIf="quiz" (submit)="updateData()"> 
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Enter Title</mat-label>
                <input [(ngModel)]="quiz.title"
                type="text" name="title" placeholder="Enter here" matInput required/>
              </mat-form-field>
              <mat-form-field class="w100" appearance="fill">
                <mat-label>Enter Description </mat-label>
                <textarea [(ngModel)]="quiz.description" type="text" name="description" placeholder="Enter here" matInput rows="5"></textarea>
              </mat-form-field>
              <div class="row">
                <div class="col-md-6">
                  <!-- //max marks -->
                  <mat-form-field class="w100" appearance="fill">
                    <mat-label>Maximum Marks</mat-label>
                    <input [(ngModel)]="quiz.maxMarks" type="text" name="maxMarks" placeholder="Enter here" matInput/>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <!-- number of question to be shown  -->
                    <mat-form-field class="w100" appearance="fill">
                      <mat-label>Number of Question</mat-label>
                      <input [(ngModel)]="quiz.numberOfQuestions" type="text" name="numberOfQuestions" placeholder="Enter here" matInput/>
                    </mat-form-field>
                  </div>
                </div>

                <mat-slide-toggle name="active" [(ngModel)]="quiz.active" color="warn" class="mt20">
                <b>Publish Status</b>
              </mat-slide-toggle> <br/><br/>

              <mat-form-field appearance="fill" class="mt20 w100">
                <mat-label>Categories</mat-label>
                <mat-select name="category" [(ngModel)]="quiz.category.cid" >    
                  <mat-option *ngFor="let c of categories" [value]="c.cid">
                    {{ c.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
              <div class="container text-center">
                <button style="color:black" mat-raised-button color="accent" type="submit">
                  <mat-icon>update</mat-icon><b>Update</b>
                </button>
              </div><br/><br/>
            </form>
        </div>
      </div>
    </div>
  </mat-card>
  
  <!-- {{ quiz | json }} -->
  
