<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <!-- instructions -->
          <mat-card style="margin: 5px;">
            <mat-card-content>
                <mat-icon> list_alt</mat-icon><h3><b>Instructions</b></h3>
                <ul>
                  <li>Do not refresh the page, otherwise you will get new questions in this quiz</li>
                  <li>Do not switch the tabs.</li>
                  <li>Do not minimize the window.</li>
                </ul>
            </mat-card-content>
          </mat-card>
         
        </div>
        <div class="col-md-8">
          <!-- questions -->
          <ng-container *ngIf="questions">
            <h1 class="mt20">
              On Going Quiz <b>{{ questions[0].quiz.title }}</b>
            </h1>
          </ng-container>
  
          <mat-card *ngFor="let q of questions; let i = index" class="mt10">
            <mat-card-content>
              <p>
                <b>Q {{ i + 1 }})</b>
                <span class="ml10" [innerHTML]="q.content"></span>
              </p>
  
              <mat-divider></mat-divider>
              <br />
  
              <div class="row mt20">
                <div class="col-md-6">
                  <input
                    type="radio"
                    [value]="q.option1"
                    name="i"        
                    [(ngModel)]="q.givenAnswer"
                  />{{ q.option1 }}               <!--[name]="i"-->
                </div>
                <div class="col-md-6">
                  <input
                    type="radio"
                    [value]="q.option2"
                    name="i"        
                    [(ngModel)]="q.givenAnswer"
                  />{{ q.option2 }}                      <!--[name]="i"-->
                </div>
              </div>
  
              <div class="row mt20">
                <div class="col-md-6">
                  <input
                    type="radio"
                    [value]="q.option3"
                    name="i"         
                    [(ngModel)]="q.givenAnswer"
                  />{{ q.option3 }}                      <!--[name]="i"-->
                </div>
                <div class="col-md-6">
                  <input
                    type="radio"
                    [value]="q.option4"
                    name="i"        
                    [(ngModel)]="q.givenAnswer"
                  />{{ q.option4 }}                       <!--[name]="i"-->
                </div>
              </div>
            </mat-card-content>
          </mat-card>
  
          <div class="container text-center mt20 mb20">
            <button (click)="submitQuiz()" mat-raised-button color="primary">
              Submit Quiz
            </button>
          </div>
        </div>
        <div class="col-md-2">
          <!-- progress -->
  
          <mat-card style="margin-top: 40px">
            <mat-card-header>
              <mat-card-title> Progress </mat-card-title>
              <mat-card-subtitle>
                Quiz will automatically submitted when timer reaches to <b>0:0</b>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <h1 class="text-center">{{ getFormattedTime() }}</h1>
              <mat-spinner
                mode="determinate"
                color="warn"
                style="margin: auto"
                [value]="(timer / (this.questions.length * 2 * 60)) * 100"
              ></mat-spinner>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  
  <!-- show the result -->
  <div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title> Quiz Result </mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center">
            <h1>Marks Got : <b> {{ marksGot }}</b></h1>
            <h1>Correct Answers : <b>{{ correctAnswers }}</b></h1>
            <h1>Questions Attempted :<b>{{ attempted }}</b></h1>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <div class="container text-center">
            <button (click)="printPage()" mat-raised-button color="accent">
              <mat-icon>print</mat-icon>Print</button>
            <button
              mat-raised-button class="ml10"
              color="warn"
              [routerLink]="'/user-dashboard/0'"
            >
              <mat-icon>home</mat-icon>Home
            </button></div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  