<div style="margin-left: 10px; background-color: antiquewhite;">
   <br>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/ADDuhhfccsM">
    </iframe> <br><br>
  
    <h1 style="text-align: center;"><p>Questions on JAVA</p></h1>
    <p style="text-align: center;">
       Q1: What are the principle concepts of OOPS?<br>
    There are four principle concepts upon which object oriented design and programming<br>
    rest. They are:<br>
     Abstraction<br>
     Polymorphism<br>
     Inheritance<br>
     Encapsulation<br>
    (i.e. easily remembered as A-PIE).<br><br>
    
     Q2: What is Abstraction?<br>
    Abstraction refers to the act of representing essential features without including the<br>
    background details or explanations.<br><br>
    
    Q3: What is Encapsulation?<br>
    Encapsulation is a technique used for hiding the properties and behaviors of an object and<br>
    allowing outside access only as appropriate. It prevents other objects from directly altering<br>
    or accessing the properties or methods of the encapsulated object.<br><br>
    Q4: What is the difference between abstraction and encapsulation?<br>
    Abstraction focuses on the outside view of an object (i.e. the interface) Encapsulation<br>
    (information hiding) prevents clients from seeing it’s inside view, where the behavior of<br>
    the abstraction is implemented.<br>
    Abstraction solves the problem in the design side while Encapsulation is the<br>
    Implementation.<br>
    Encapsulation is the deliverables of Abstraction. Encapsulation barely talks about grouping<br>
    up your abstraction to suit the developer needs.<br><br>
    Q5: What is Inheritance?<br>
    Inheritance is the process by which objects of one class acquire the properties of objects of<br>
    another class.<br>
    A class that is inherited is called a superclass.<br>
    The class that does the inheriting is called a subclass.<br>
    Inheritance is done by using the keyword extends.<br>
    The two most common reasons to use inheritance are:<br>
    To promote code reuse<br>
    To use polymorphism<br><br>
    Q6: What is Polymorphism?<br>
    Polymorphism is briefly described as "one interface, many implementations."<br>
    Polymorphism is a characteristic of being able to assign a different meaning or usage to<br>
    something in different contexts - specifically, to allow an entity such as a variable, a<br>
    function, or an object to have more than one form.<br>
    
    </p>
    <p>****************************************************************************************************</p>

    <h3><b>Follow this link for java tutorial</b></h3>
    <a href="https://www.youtube.com/watch?v=ntLJmHOJ0ME&list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q"><b>JAVA Basic Tutorial</b></a>
    <br> <br> 

    <p>****************************************************************************************************</p>

    </div>
