<div style="margin-left: 10px; background-color: antiquewhite;"><br>
    
    <iframe width="420" height="315" src="https://www.youtube.com/embed/3soCkzYJBLk">
    </iframe> <br><br>
    <h1 style="text-align: center;">
        <p>Questions on ANGULAR</p>
    </h1>
    <p style="text-align: center;">

        1. What is Angular? Why was it introduced?<br><br>
        Angular was introduced to create Single Page applications. <br>
        This framework brings structure and consistency to web applications and provides excellent scalability and
        maintainability. <br>

        Angular is an open-source, JavaScript framework wholly written in TypeScript. It uses HTML's syntax to express
        your application's components clearly. <br><br>

        2. What is TypeScript?<br><br>
        TypeScript is a superset of JavaScript that offers excellent consistency. <br>
        It is highly recommended, as it provides some syntactic sugar and makes the code base more comfortable to
        understand and maintain.<br>
        Ultimately, TypeScript code compiles down to JavaScript that can run efficiently in any environment. <br><br>
        3. What are Single Page Applications (SPA)?<br><br>
        Single-page applications are web applications that load once with new features just being mere additions to the
        user interface.<br>
        It does not load new HTML pages to display the new page's content, instead generated dynamically. <br>
        This is made possible through JavaScript's ability to manipulate the DOM elements on the existing page
        itself.<br>
        A SPA approach is faster, thus providing a seamless user experience.<br><br>

        4. What are Single Page Applications (SPA)?<br><br>
        Single-page applications are web applications that load once with new features just being mere additions to the
        user interface.<br>
        It does not load new HTML pages to display the new page's content, instead generated dynamically.<br>
        This is made possible through JavaScript's ability to manipulate the DOM elements on the existing page itself.
        <br>
        A SPA approach is faster, thus providing a seamless user experience. <br><br>

    <p>****************************************************************************************************</p>

    <h3><b>Follow this link for ANGULAR tutorial</b></h3>
    <a href="https://www.youtube.com/watch?v=0eWrpsCLMJQ&list=PLC3y8-rFHvwhBRAgFinJR8KHIrCdTkZcZ"><b>ANGULAR Basic
            Tutorial</b></a>
    <br> <br>

    <p>****************************************************************************************************</p>

</div>