<mat-card *ngIf="user">
    <h1 style="text-align: center;"> Profile Details</h1>
    <!-- {{ user | json }} -->
    <mat-card-content>
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="container text-center">
            <img
              src="https://cdn3.iconfinder.com/data/icons/education-457/64/student_education_man_bachelor_boy_-512.png"
              alt=""
              class="profile-image"
            />
  
            <!-- <h1 class="mt20">{{ user.firstName }} {{ user.lastName }}</h1> -->
            <h1 class="mt20">{{ login.getUser().firstName }} {{ login.getUser().lastName }}</h1>
          </div>
  
          <div class="row">
            <div class="col-md-10 offset-md-1">
              <!-- //table Details  -->
              <table class="table text-center">
                <tr>
                  <td><b>Username</b></td>
                  <td>{{login.getUser().username }}</td>
                </tr>
                <tr>
                  <td><b>User ID</b></td>
                  <td>{{ login.getUser().id }}</td>
                </tr>
                <tr>
                  <td><b>Phone</b></td>
                  <td>{{ login.getUser().phone }}</td>
                </tr>
                <tr>
                  <td><b>Role</b></td>
                  <td>{{ login.getUser().authorities[0].authority }}</td>
                </tr>
                <tr>
                  <td><b>Status</b></td>
                  <td>{{ login.getUser().enabled ? "ACTIVE" : "NOTACTIVE" }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <div class="container text-center">
      <!--<button style="color:black" type="submit" mat-raised-button color="accent"><mat-icon>update</mat-icon><b>UPDATE</b></button>-->
      <button (click)="printPage()" mat-raised-button color="accent">
        <mat-icon>print</mat-icon>Print</button> </div><br/>
    </mat-card-actions>
  </mat-card>
  