<div >
  <img src="../../../assets/back2.jpg" alt="" style="width:100%;"/>
<div class="centered">
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                  <br/>
                    <img src="../../../assets/logo1.png" alt=""/>
                </div>
                <h1 class="text-center"><b>Sign-Up :-)</b></h1>

                <!-- {{user | json}} -->

                <form (ngSubmit)="formSubmit()" align="center">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        required minlength="2" maxlength="15"
                        [(ngModel)]="user.username"
                        name="username"
                        #userame="ngModel"
                        matInput placeholder="Enter here">
                        <mat-hint><i><b>Username must be unique ...</b></i></mat-hint>
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input required minlength="2" maxlength="8"
                        [(ngModel)]="user.password"
                        name="password"
                        #password="ngModel"
                        type="password" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required pattern="[a-zA-Z ]+" minlength="2"
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        #firstName="ngModel"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required pattern="[a-zA-Z ]+" minlength="2"
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        #lastName="ngModel"
                        matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input   required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+.com$"          
                        [(ngModel)]="user.emailId"
                        name="emailId"
                        #emailId="ngModel"
                        type="email" matInput placeholder="Enter here">
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                     <mat-label>Phone Number</mat-label>
                        <input required maxlength="10" pattern="[0-9]*" 
                        [(ngModel)]="user.phone"
                        name="phone"
                        #phone="ngModel"
                        type="number" matInput placeholder="Enter here">
                      </mat-form-field>

                      <div class="container text-center">
                        <button style="color:black;" type="submit" mat-raised-button color="accent">
                          <mat-icon>exit_to_app</mat-icon><b>Sign-Up</b></button>
                        <button style="color:black;" type="reset" class="ml10" mat-raised-button color="warn">
                          <mat-icon>restore</mat-icon><b>Reset</b></button>
                      </div> <br/>

                      <div style="color: rgb(150, 25, 25); text-align:center">
                        <div *ngIf="userame.errors?.['required'] && userame.touched"><b>Please enter the username</b></div>
                        <div *ngIf="userame.errors?.['minlength'] && userame.touched"><b> Please enter a valid username</b></div>

                        <div *ngIf="password.errors?.['required'] && password.touched"><b> Please enter the password</b></div>
                        <div *ngIf="password.errors?.['minlength'] && password.touched"> <b>Please enter a valid password</b></div>
                      
                        <div *ngIf="firstName.errors?.['required'] && firstName.touched"><b> Please enter the first name</b></div>
                        <div *ngIf="firstName.errors?.['pattern'] && firstName.touched"> <b>Please enter a valid first name</b></div>

                        <div *ngIf="lastName.errors?.['required'] && lastName.touched"><b> Please enter the last name</b></div>
                        <div *ngIf="lastName.errors?.['pattern'] && lastName.touched"><b> Please enter a valid last name</b></div>
                        
                        <div *ngIf="emailId.errors?.['required'] && emailId.touched"> <b>Please enter the email-ID </b></div>
                        <div *ngIf="emailId.errors?.['pattern'] && emailId.touched"> <b>Please enter a valid email-ID</b></div>

                        <div *ngIf="phone.errors?.['required'] && phone.touched"><b> Please enter the phone number</b></div>
                        <div *ngIf="phone.errors?.['pattern'] && phone.touched"><b> Please enter a valid phone number</b></div>

                      </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
</div>
</div>
