h1{
    color: black;
}
mat-hint{
    color: rgb(110, 56, 18);
}
mat-label{
    color: black;
}
.full-width{
    width: 90%;
}
mat-card{
    text-align: center;
    width: 500px;

}
.centered {
    position: absolute;
    top: 436px;
    left: 40%;
    transform: translate(-50%, -50%);
  }