<mat-card>
    <h2>&nbsp;Add New Quiz</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="addQuiz()">

            <mat-form-field class="w100" appearance="fill">
                <mat-label>Enter Title</mat-label>
                <input type="text" name="title" [(ngModel)]="quizData.title" placeholder="Enter here" matInput/>                                    
            </mat-form-field>

            
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Enter Description</mat-label>
                <textarea type="text" name="description" [(ngModel)]="quizData.description"  placeholder="Enter here" matInput rows="5"></textarea>
            </mat-form-field>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="w100" appearance="fill">
                        <mat-label>Maximum Marks</mat-label>
                        <input type="text" name="maxMarks" [(ngModel)]="quizData.maxMarks" placeholder="Enter here" matInput/>
                    </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w100" appearance="fill">
                            <mat-label>Number of Question</mat-label>
                            <input type="text" name="numberOfQuestions" [(ngModel)]="quizData.numberOfQuestions" placeholder="Enter here" matInput/>
                        </mat-form-field>
                    </div>
                    </div>

                    <mat-slide-toggle
                        name="active"
                        class="mt20"
                        color="warn"
                        [checked]="false"
                         [(ngModel)]="quizData.active">
                    <b>Publish Status</b><br/>
                    </mat-slide-toggle>
                    <br /><br/>
                    <mat-form-field appearance="fill" class="mt20 w100">
                        <mat-label>Categories</mat-label>
                        <mat-select name="category" [(ngModel)]="quizData.category.cid"> 
                          <mat-option *ngFor="let c of categories" [value]="c.cid">{{c.title}}

                          </mat-option>

                        </mat-select>
                    </mat-form-field>
                    <div class="container text-center">
                      <button style="color:black;" mat-raised-button color="accent" type="submit">
                        <mat-icon>add_box</mat-icon><b>Add</b></button><br/><br/>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card>
  <!-- {{quizData | json}} -->

  