<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <h2 class="mt20">Available Quizzes</h2>
      <div class="row mt20" *ngIf="quizzes">   
        <div class="col-md-4" *ngFor="let q of quizzes"> 
          <mat-card class="mb20">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>
                {{ q.title }}
              </mat-card-title>
              <mat-card-subtitle>
                {{ q.category.title }}
              </mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content>
              <p class="truncate">
                {{ q.description }}
            </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button color="primary"><mat-icon>visibility</mat-icon>View</button>
              <button
                mat-button
                color="accent"
                [routerLink]="'/user-dashboard/instructions/' + q.qId"
                class="ml10"
              > <mat-icon>access_alarms</mat-icon>
                Start
              </button>
              <button mat-button color="accent">
                Questions :{{ q.numberOfQuestions }}
              </button>
              <button mat-button color="accent">
                M.M :{{ q.maxMarks }}
            </button>
            </mat-card-actions>
          </mat-card>
        </div>
  
        <div class="col-md-12" *ngIf="quizzes.length == 0"> 
          <mat-card>
            <mat-card-content>
              <h2>No data in this category</h2>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  
