<div >
  <img src="../../../assets/back2.jpg" alt="" style="width:100%;"/>
<div class="centered">
<div class="bootstrap-wrapper">
    <div class="container">
      <div class="row mt20" >
        <div class="col-md-6 offset-md-3">
          <mat-card>
            <div class="container text-center">
              <br/>
              
              <img src="../../../assets/logo1.png" alt="" />
            </div>
  
            <h1 class="text-center"><b>Sign-In :-)</b></h1>
  
            <!-- {{ loginData | json }} -->
            <form (ngSubmit)="formSubmit()" align="center">
              <!-- username field -->
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>User Name</mat-label>
                <input
                  [(ngModel)]="loginData.username"
                  name="username"
                  required minlength="2" maxlength="15"
                  #userame="ngModel"
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
  
              <!-- password field  -->
  
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>User Password</mat-label>
                <input
                  [(ngModel)]="loginData.password"
                  name="password"
                  type="password"
                  required minlength="2" maxlength="8"
                  #password="ngModel"
                  matInput
                  placeholder="Enter here"
                />
              </mat-form-field>
         
              <div class="container text-center">
                <button style="color:black;"  mat-raised-button color="accent" type="submit">
                  <mat-icon>login</mat-icon><b>Sign-In</b>
                </button>
                <button style="color:black;"  class="ml10" mat-raised-button color="warn" type="reset">
                  <mat-icon>restore</mat-icon><b>Reset</b>
                </button>
                <br><br>
                <a [routerLink]="'/signup'" >Don't have an account? Register here.. </a>
              </div><br/>
              <div style="color: rgb(150, 25, 25)">
                <div *ngIf="userame.errors?.['required'] && userame.touched"><b>Please enter the username</b></div>
                <div *ngIf="userame.errors?.['minlength'] && userame.touched"><b> Please enter a valid username</b></div>

                <div *ngIf="password.errors?.['required'] && password.touched"><b>Please enter the password</b> </div>
                <div *ngIf="password.errors?.['minlength'] && password.touched"><b>Please enter a valid password</b> </div>
              </div>

              
            </form>
      
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
 


  
