.full-width{
    width: 90%;
}
h1{
    color: black;
}
mat-label{
    color: black;
}
.centered {
  position: absolute;
  top: 300px;
  left: 40%;
  transform: translate(-50%, -50%);
}
mat-card{
  text-align: center;
  width: 500px;
}

.mat-raised-button.mat-accent{
  color: #f0fff3;
  background-color: #155724;
}

