<!-- <h1>Welcome to Osmose24x7</h1>

<button mat-raised-button color="primary">Click me</button> -->
<ngx-ui-loader
  
 fgsColor="#c19a6b"
  pbColor="#fad6a5"
  text="Please wait.."
  textColor="#fad6a5"
></ngx-ui-loader>

<div ngxUiLoaderBlurred blurr="6">
<app-navbar></app-navbar>
<router-outlet></router-outlet>