<mat-card style="width: 200px; margin-top: 10px;">
  <mat-action-list>
    <div mat-subheader style="color: rgb(79, 58, 13);;">Available Categories</div>
    <button routerLink="/user-dashboard">
      <mat-icon mat-list-icon>quiz</mat-icon> All Quizzes
    </button><br>

    <button [routerLink]="'/user-dashboard/' + c.cid" mat-list-item *ngFor="let c of categories">
      <mat-icon mat-list-icon>quiz</mat-icon> {{ c.title }}
    </button>

    
  </mat-action-list>
</mat-card>