<mat-card class="mt10 mr20 ml20" *ngFor="let q of quizzes">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        {{ q.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ q.category.title }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ q.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent"
        [routerLink]="'/admin/view-questions/' + q.qId + '/' + q.title">
     Questions
      </button>
      <button mat-stroked-button color="accent" class="ml20">
        Max Marks: {{ q.maxMarks }}
      </button>
      <button mat-stroked-button color="accent" class="ml20">
        <mat-icon>question_answer</mat-icon>
        Questions: {{ q.numberOfQuestions }}
      </button>
      <button mat-stroked-button color="primary"
        [routerLink]="'/admin/quiz/' + q.qId"
        class="ml20"
      ><mat-icon>update</mat-icon>
        Update
      </button>
      <!--<button mat-flat-button color="primary" class="ml20">
        Attempts</button>-->
  
      <button mat-flat-button color="warn"
        class="ml10"
        (click)="deleteQuiz(q.qId)"
      ><mat-icon>delete_outline</mat-icon>
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
  
  <div class="container text-center mt20">
    <button routerLink="/admin/add-quiz" mat-raised-button color="accent">
      <mat-icon>add_box</mat-icon><b>Add New Quiz</b>
    </button>
  </div>
  
