

          <div >
              <img src="../../../assets/back2.jpg" alt="" style="width:100%;"/>
              <div class="centered ">
                <div class="container text-center">
                <h1><b>Welcome to Osmose24x7</b></h1>
                <h3 style="color: black;"><b>Ace exams, Anytime, Anywhere</b></h3>
              </div>
              </div>
              
          </div><br/>
         
  