<div style="margin-left: 10px; background-color: antiquewhite;"><br>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/Y8Tko2YC5hA">
    </iframe> <br><br>
    <h1 style="text-align: center;"><p>Questions on Python</p></h1>
    <p style="text-align: center;">
        1. What is Python?<br>
Python is a high-level, interpreted, interactive, and object-oriented scripting language. <br>
It uses English keywords frequently. Whereas, other languages use punctuation, Python has fewer syntactic constructions.<br>
Python is designed to be highly readable and compatible with different platforms such as Mac, Windows, Linux, Raspberry Pi, etc.<br><br>
2. How is Memory managed in Python?<br>
Memory in Python is managed by Python private heap space. All Python objects and data structures are located in a private heap.<br>
 This private heap is taken care of by Python Interpreter itself, and a programmer doesn’t have access to this private heap.<br>
Python memory manager takes care of the allocation of Python private heap space.<br>
Memory for Python private heap space is made available by Python’s in-built garbage collector, which recycles and frees up all the unused memory.<br><br>
3. What are Python Modules?<br>
Files containing Python codes are referred to as Python Modules. This code can either be classes, functions,<br>
 or variables and saves the programmer time by providing the predefined functionalities when needed. It is a file with “.py” extension containing an executable code.<br>

Commonly used built modules are listed below:<br>

*os<br>
*sys<br>
*data time<br>
*math<br>
*random<br>
*JSON<br><br>

4. Explain Inheritance in Python with an example?<br>
As Python follows an object-oriented programming paradigm, classes in Python have the ability to inherit the properties of another class.<br>
 This process is known as inheritance. Inheritance provides the code reusability feature.<br>
  The class that is being inherited is called a superclass or the parent class, and the class that inherits the superclass is called a derived or child class.<br>
   The following types of inheritance are supported in Python:

Inheritance in Python<br>
<b>Single inheritance</b>: When a class inherits only one superclass<br>
<b>Multiple inheritance</b>: When a class inherits multiple superclasses<br>
<b>Multilevel inheritance</b>: When a class inherits a superclass, and then another class inherits this derived class forming a ‘parent, child, and grandchild’ class structure<br>
<b>Hierarchical inheritance</b>: When one superclass is inherited by multiple derived classes<br><br>

<p>****************************************************************************************************</p>

<h3><b>Follow this link for python tutorial</b></h3>
<a href="https://www.youtube.com/watch?v=gfDE2a7MKjA"><b>PYTHON Basic Tutorial</b></a>
<br> <br> 

<p>****************************************************************************************************</p>

</div>
