/* mat-action-list{
    width: 200px;
}
mat-card{
    margin-left: 50px;
    width: 180px;
} */

/* mat-card{
    float: left;
    background: linear-gradient(to bottom,rgba(216, 139, 72, 0), rgb(99, 63, 13));
}  */