<div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <app-sidebar-user></app-sidebar-user>
        </div>
        
  
        <div class="container text-center col-md-10">
          <h1 style="text-align: center;"><i>Resources</i></h1>
        <div><button mat-raised-button color="accent" routerLink="java">JAVA</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="python">Python</button>&nbsp;
        <button mat-raised-button color="accent" routerLink="c">Angular</button></div><br>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>