<mat-card>
    <h2>&nbsp;All Categories</h2>
    <mat-list>
      <mat-list-item *ngFor="let c of categories">
        <mat-icon mat-list-icon>category</mat-icon>
        {{ c.title }}:  &nbsp;{{ c.description }} &nbsp;
        <button mat-flat-button color="warn"
        (click)="deleteCategory(c.cid)" style="float: right;"
      >
        <mat-icon>delete_forever</mat-icon>Delete
      </button>
      <mat-divider [inset]="true"></mat-divider>
      </mat-list-item>
    </mat-list>
  
    <div class="container text-center mt20">
      <button routerLink="/admin/add-category" mat-raised-button color="accent">
        <mat-icon>library_add</mat-icon>
        <b>Add New Category</b>
      </button><br/><br/>
    </div>
  </mat-card>
  